<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>movies</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>VerifyCodeUtils</servlet-name>
    <servlet-class>org.lanqiao.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyCodeUtils</servlet-name>
    <url-pattern>/verifyCodeUtils</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/verifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PortraitServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.PortraitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PortraitServlet</servlet-name>
    <url-pattern>/portraitServlet</url-pattern>
  </servlet-mapping>
</web-app>